<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qaBoard">
    <resultMap id="questionBoardVoMap" type="questionBoardVo">

        <id column="qb_no" property="qbNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="reg_date" property="regDate"/>
        <result column="admin_choice" property="adminChoice"/>
        <association property="member" javaType="member">
            <id column="member_no" property="memberNo"/>
            <result column="member_id" property="memberId"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <select id="findAll" resultType="questionBoard">
        select
        *
        from
        question_board
        order by
        reg_date desc
    </select>
    <select id="findById" resultType="questionBoard">
        select
        *
        from
        question_board
        where
        qb_no = #{qbNo}
    </select>
    <insert id="insertQuestionBoard">
    insert into
        question_board
        values(
            seq_qb_no.nextval,
            #{memberNo},
            #{title},
            #{content},
            default, default)
    </insert>
    <update id="updateQuestionBoard">
        update
        question_board
        set
        member_no = #{memberNo},
        title = #{title},
        content = #{content}
        where
        qb_no = #{qbNo}
    </update>
    <delete id="deleteQuestionBoard">
        delete
        from
        question_board
        where
        qb_no = #{qbNo}
    </delete>
    <select id="getTotalCount" resultType="_int">
        select
        count(*)
        from
        question_board
    </select>

    <select id="findByAnswerBoardacNo" resultType="answerBoard">
    select
        *
    from
        answer_comment
    where
        ac_no = #{acNo}
    </select>
    <insert id="insertAnswerBoard">
        insert into
        answer_comment
        values(
        seq_ac_no.nextval,
        #{memberNo},
        #{qbNo},
        #{title},
        #{content},
        default, default, default)
    </insert>
    <select id="findByIdAnswer" resultType="answerBoard">
        select
        *
        from
        answer_comment
        where
        ac_no = #{acNo}
    </select>
    <update id="updateAnswerBoard">
        update
        answer_comment
        set
        member_no = #{memberNo},
        title = #{title},
        content = #{content}
        where
        ac_no = #{acNo}
    </update>

    <delete id="deleteAnswerBoard">
        delete
        from
        answer_comment
        where
        ac_no = #{acNo}
    </delete>
</mapper>
