<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exerciseData">
    
    <select id="findAll" resultType="exerciseData">
        select
            *
        from
            exercise_data
    </select>

    <insert id="insertDailyExercise">
        insert into
            daily_ex
        values
            (
                'DE' || seq_de_no.nextval,
                #{exId},
                #{dailyNo},
                #{exSets}
            )
    </insert>

    <select id="findByName" resultType="exerciseData">
        select
            *
        from
            exercise_data
        where
            ex_name LIKE '%' || #{exName} || '%'
    </select>


    <select id="findDailyExerciseByDailyNo" resultType="exerciseData">
        select
            *
        from
            exercise_data
        where
            de_no = #{dailyNo}
    </select>

    <select id="findByExNo" resultType="exerciseData">
        select
            *
        from
            exercise_data
        where
            ex_no = #{exNo}
    </select>

    <insert id="insertExerciseData">
        insert into
        exercise_data
        values(
        'E'||seq_ex_no.nextval,
        #{exName},
        #{kcal},
        #{bodyPart},
        #{exUrl}
        )
        <selectKey order="AFTER" resultType="String" keyProperty="exNo">
            select
            'E'||seq_ex_no.currval
            from
            dual
        </selectKey>
    </insert>

    <select id="findByBodyPart" resultType="exerciseData">
        select
            *
        from
            exercise_data
        where
            body_part = #{bodyPart}
        order by
            ex_no desc
    </select>

    <select id="findBodyParts" resultType="String">
        select distinct
            body_part
        from
            exercise_data
        order by
            body_part
    </select>

    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            exercise_data
    </select>

    <delete id="deleteExerciseData">
        delete from
            exercise_data
        where
            ex_no = #{exNo}
    </delete>

    <select id="checkScrapExbyMemberNo" resultMap="exerciseDataVoMap">
        select
            ed.*,
            se.member_no
        from
            exercise_data ed
                left join  scrap_exercise se
                           on ed.ex_no = se.ex_no
        where
            ed.ex_no = #{exNo}
          and
            se.member_no = #{member.memberNo}
    </select>

    <resultMap id="exerciseDataVoMap" type="exerciseDataVo">
        <id column="ex_no" property="exNo"/>
            <result column="ex_name" property="exName"/>
            <result column="kcal" property="kcal"/>
            <result column="body_part" property="bodyPart"/>
            <result column="ex_url" property="exUrl"/>
        <collection property="scrapExercise" javaType="scrapexercise">
            <id column="ex_scrap_no" property="exScrapNo"/>
            <result column="member_no" property="memberNo"/>
            <result column="ex_no" property="exNo"/>
        </collection>
    </resultMap>


</mapper>